@import "../node_modules/bootstrap/scss/bootstrap";
.main-container {
	margin: 0 auto;
	width: 95%;
}

h1 {
	text-align: center;
}

pre {
	// make sure form entry pre element don't overflow the width
	white-space: pre-wrap;
}
